<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.ayuan.mobilesafe.activity">

	<!--连接网络的权限-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!--震动权限-->
	<uses-permission android:name="android.permission.VIBRATE" />
	<!--允许写入外部存储设备的权限-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--允许读取外部存储设备的权限-->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!--允许读取联系人的权限-->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<!--允许查看电话状态的权限-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!--监听开关机的权限-->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!--发送短信的权限-->
	<uses-permission android:name="android.permission.SEND_SMS" />
	<!--读取短信的权限-->
	<uses-permission android:name="android.permission.READ_SMS" />
	<!--接收短信的权限-->
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<!--获取准确GPS坐标的权限-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--允许获取模拟器坐标的权限-->
	<uses-permission
		android:name="android.permission.ACCESS_MOCK_LOCATION"
		tools:ignore="MockLocation,ProtectedPermissions" />
	<!--允许获取粗略坐标的权限(网络定位时使用)-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application
		android:allowBackup="true"
		android:icon="@mipmap/mobilesafe"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/mobilesafe"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar">
		<activity android:name=".SplashActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!--界面-->
		<activity
			android:name=".HomeActivity"
			android:launchMode="singleTask" /><!--主页-->
		<activity
			android:name=".SettingActivity"
			android:launchMode="singleTask" /><!--设置列表界面-->
		<activity
			android:name=".SetupOverActivity"
			android:launchMode="singleTask"></activity><!--安全模块初始化完成界面-->
		<activity
			android:name=".SetupOneActivity"
			android:launchMode="singleTask"></activity><!--第一个导航界面-->
		<activity
			android:name=".SetupTwoActivity"
			android:launchMode="singleTask"></activity><!--第二个导航界面-->
		<activity
			android:name=".SetupThreeActivity"
			android:launchMode="singleTask"></activity><!--第三个导航界面-->
		<activity
			android:name=".SetupFourActivity"
			android:launchMode="singleTask"></activity><!--第四个导航界面-->
		<activity android:name=".ContactListActivity"></activity><!--联系人列表界面-->
		<activity
			android:name=".AToosActivity"
			android:launchMode="singleTask"></activity><!--高级工具页面-->
		<activity
			android:name=".QueryAddressActivity"
			android:launchMode="singleTask"></activity><!--号码归属地查询界面-->
		<!--广播接收者===========================================================================-->
		<receiver android:name="com.ayuan.mobilesafe.receiver.BootReceiver">
			<intent-filter>
				<!--开机发送的广播 -->
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver><!--开机启动的广播-->
		<receiver android:name="com.ayuan.mobilesafe.receiver.SmsReceiver">
			<intent-filter>
				<!--为了去关联系统短信的广播过滤条件，先将编译版本改为4.1.2-->
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver><!--收到短信的广播-->
		<receiver
			android:name="com.ayuan.mobilesafe.receiver.DeviceAdmin"
			android:description="@string/sample_device_admin_description"
			android:label="@string/sample_device_admin"
			android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data
				android:name="android.app.device_admin"
				android:resource="@xml/device_admin_sample" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
			</intent-filter>
		</receiver><!--设备管理器-->
		<!--服务=================================================================================-->
		<service android:name="com.ayuan.mobilesafe.service.LocationService" /><!--获取手机位置的服务-->
	</application>

</manifest>